{% extends "layout.html.twig" %}
{% block final_stylesheets%}
    <link rel="stylesheet" href="{{ asset('assets/styles/login.css') }}" />
{% endblock %}
{% block content %}
    <section id="profile">
        <h2>Utilisateur actuel : {{ app.user.username }}</h2>
        <p>
            {{ form(form) }}
        </p>
    </section>
{% endblock %}