{% extends 'layout.html.twig' %}

{% block title %}Profil utilisateur{% endblock %}
{% block final_stylesheets %}
    <link rel="stylesheet" href="{{ asset("assets/styles/form.css") }}">
{% endblock %}

{% block content %}
<section id="profile" class="form-container">
    <h2>Profil de {{ app.user.username }}</h2>
        {{ form(form) }}

        <button type="submit" class="btn">Modifier le profil</button>
        {{ form_end(form) }}
</section>
{% endblock %}