{% extends "layout.html.twig" %}

{% block content %}
    <section id="articleHeader">
        <div>
            <video src="https://mistertea.fr/selene/video/placeholder.mp4" poster="https://picsum.photos/id/32/400/200"></video>
            <article>
                <h3>Video title</h3>
                <p>Description de la vidéo</p>
            </article>
            <article class="miniatures">
                <video src="https://mistertea.fr/selene/video/placeholder.mp4" poster="https://picsum.photos/id/32/400/200"></video>
                <video src="https://mistertea.fr/selene/video/placeholder.mp4" poster="https://picsum.photos/id/33/400/200"></video>
                <video src="https://mistertea.fr/selene/video/placeholder.mp4" poster="https://picsum.photos/id/34/400/200"></video>
                <video src="https://mistertea.fr/selene/video/placeholder.mp4" poster="https://picsum.photos/id/35/400/200"></video>
                <video src="https://mistertea.fr/selene/video/placeholder.mp4" poster="https://picsum.photos/id/36/400/200"></video>
            </article>
        </div>
        <div>
            <nav id="tabs">
                <div class="rounded-tab left active">CSS left tab</div>
                <div class="rounded-tab">CSS round tab</div>
                <div class="rounded-tab right">CSS right tab</div>
            </nav>
            <article>
                <h2>Titre du chapitre</h2>
                <aside>
                    <i class="date">17/06/2024</i>
                    <p>notes</p>
                </aside>
            </article>
            <p>Texte de l'introduction</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste repellat dolorem perferendis numquam itaque nihil facere fugiat eveniet dicta modi?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste repellat dolorem perferendis numquam itaque nihil facere fugiat eveniet dicta modi?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste repellat dolorem perferendis numquam itaque nihil facere fugiat eveniet dicta modi?</p>
        </div>
    </section>
    <section id="chapterContent">
        <h2>Tab navigation</h2>
        <article>

        </article>
    </section>
    <section id="comments">
        <article class="comment">
            <h4>Titre commentaire</h4>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste repellat dolorem perferendis numquam itaque nihil facere fugiat eveniet dicta modi?</p>
                <p>&starf;&starf;&starf;&star;&star;</p>
            </div>
        </article>
    </section>


{% endblock %}