<header class="p-3 ">
    <h1>Test MOC</h1>
    <nav>
        <a href="/">Accueil</a>
        <a href="#">Home</a>
        <a href="/articles">Articles</a>
        <a href="#profile">Profil</a>
    </nav>
</header>
<div class="banner"></div>