/******     Standard Formulaire du projet       *****/
/* Formulaire de connexion */
.form-container{
    /* Classe du Body */
    display: grid;
    place-content: center;
    background: url("https://picsum.photos/id/123/1980/1280") fixed no-repeat;
    background-size: cover;
}
.loginForm{
    margin: 3em auto;
    position: relative;
    top: -10em;
}
.form-container form {
    padding: 1em;
    background: var(--transparent-black);
    border-radius: 1em;
    border: 1px solid gold;
    box-shadow: 0 0 15px black;
    backdrop-filter: blur(15px);
    color: white;
    width: 60dvw;
    text-align: center;
    margin: 1em auto;
}
.clip{
    display: inline;
    padding: .3em;
    text-align: center;
    border-radius: .5em .5em 0 0;
    background: var(--transparent-black);
    font-weight: 100;
    color: white;
}
.form-container label{
    font-weight: 100;
    font-size: 1.5em;
}
.form-container label, input{
    display: block;
    margin: 1em auto;
    min-width: 50%;
}
.checkbox{
    display: flex;
    justify-content: space-around;
    width: 15%;
    margin: auto;
}
trix-toolbar{
    margin-top: 1em;
}
trix-toolbar *, trix-editor{
    background: white;
    color: var(--black);
    text-align: left;
}
trix-editor{
    margin: 1em;
}