<header>
    <h1>Hedgehog School</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/articles">Articles</a>
        <a href="/test">Test</a>
    </nav>
    <div>
        <button>Connexion</button>
        <button>Inscription</button>
    </div>
</header>