<header>
    <h1>Hedgehog School</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/articles">Articles</a>
        <a href="/test">Test</a>
    </nav>
    <div>
        {% if not app.user %}
            <a href="{{ path('app_login') }}" type="button">Connexion</a>
            <a href="{{ path('app_register') }}" type="button">Inscription</a>
        {% else %}
            <p>Bonjour {{ app.user.userIdentifier }}</p>
            <a href="{{ path('app_logout') }}" >Déconnexion</a>
        {% endif %}
    </div>
</header>