
<header>
    <a href="/"><h1>Hedgehog School</h1></a>
    <nav>
        <a href="/home">Home</a>
        <a href="/articles">Articles</a>
        <a href="/profile">Profil</a>
        <a href="/test">Test</a>
        <a href="/connexion">Connexion</a>
    </nav>
    <div class="btn-container">
        <b aria-hidden="true">🌞</b>
        <label class="switch btn-color-mode-switch">
            <input type="checkbox" name="color_mode" id="color_mode" value="1" class="darkModeToggle">
            <label for="color_mode" data-on="Dark" data-off="Light" class="btn-color-mode-switch-inner"></label>
        </label>
        <b aria-hidden="true">🌙</b>
    </div>
    <div>
        <button>Connexion</button>
        <button>Inscription</button>
    </div>
</header>
<div class="scroll-bar"></div>